@font-face
{
    font-family: 'smallPx';
    /* src: url("./assets/fonts/dogica.ttf"); */
    /* src: url("./assets/fonts/dogicapixel.ttf"); */
    src: url("./assets/fonts/pixelmix_pP.ttf");
}

div
{
    display: block;
}

/*
* ─── TOOLTIP ────────────────────────────────────────────────────────────────────
*/
.followmouse
{
    position: absolute;
    pointer-events: none;
    max-width: 400px;

    z-index: 10000;
}

#tooltip
{
    background-color: #222;
    color: white;
    padding: 12px 10px;
    font-size: 12px;
    font-family: Verdana, open sans, Arial, helvetica neue, Helvetica, sans-serif, 宋体;

    line-height: 100%;

    display: none;
}

#tooltip:lang(zh)
{
    font-family: 宋体;
}

#tooltip:lang(ja)
{
    font-family: "MS PGothic", "Osaka", Arial, sans-serif;
    letter-spacing: 0.5px;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(-moz-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-device-pixel-ratio: 1.5)
{
    #tooltip:lang(zh)
    {
        font-family: 微软雅黑, 宋体;
    }
}


#tooltip p
{
    line-height: 130%;
    margin: 3px;
}

#tooltip h1
{
    color: gold;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: normal;
}

#tooltip div
{
    width: 100%;
    margin-bottom: 1em;
}

#tooltip div:last-child
{
    margin: 0;
}

#tooltip p span
{
    /* white-space: nowrap; */
}

#tooltip p span:first-child
{
    margin-right: 3em;
}

#tooltip strong
{
    font-weight: normal;
}

#tooltip div p
{
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 120%;
    display: flex;
    justify-content: space-between;
}

#tooltip div p.rightAligned
{
    width: 100%;
    display: inherit;
    text-align: right;
}

#tooltip p.buffFroms
{
    color: skyblue;
    margin-top: 15px;
    /* margin-bottom: 0; */
}

#tooltip p.weaponAtkDesc
{
    color:darkturquoise;
    display:block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

#tooltip p.weaponAtkDesc span
{
    display: block;
    margin-top: 5px;
    margin-right: 0em;
}
